In [3]:
import random
import pandas as pd
import numpy as np

In [4]:
first_name=['John', 'Sara', 'Ali', 'Priya', 'Michael']
last_name=['Smith', 'Khan', 'Verma', 'Williams', 'Singh']
dept=['HR', 'Finance', 'IT', 'Marketing', 'Operations']

In [5]:
id=np.random.choice(range(10000,100000),100,replace=False)
x={}
y={'HR': 30000,'Finance': 35000,'IT': 50000,'Marketing': 28000,'Operations': 25000}
n=[]
d=[]
dpt=[]
sal=[]

In [6]:
for i in range(100):
    name=random.choice(first_name)+" "+random.choice(last_name)
    n.append(name)
    day=random.randint(20,31)
    d.append(day)
    dp=random.choice(dept)
    dpt.append(dp)
    sal.append(round(y[dp]*(day/30),2))

In [12]:
#numpy data
dtype = [('ID', 'i4'), ('Name', 'U50'), ('Department', 'U20'), ('Days Worked', 'i4'), ('Salary', 'f4')]
data = np.empty(100, dtype=dtype)
data['ID'] = id
data['Name'] = n
data['Department'] = dpt
data['Days Worked'] = d
data['Salary'] = sal
data

array([(15653, 'Priya Verma', 'IT', 20, 33333.33),
       (46376, 'Ali Singh', 'Operations', 25, 20833.33),
       (15375, 'Priya Williams', 'HR', 20, 20000.  ),
       (95454, 'Michael Smith', 'HR', 30, 30000.  ),
       (93143, 'Michael Khan', 'Operations', 30, 25000.  ),
       (31167, 'Ali Verma', 'Operations', 25, 20833.33),
       (96172, 'Michael Khan', 'Finance', 21, 24500.  ),
       (45510, 'Priya Smith', 'HR', 23, 23000.  ),
       (61325, 'Priya Verma', 'HR', 31, 31000.  ),
       (83519, 'Ali Khan', 'Operations', 28, 23333.33),
       (19184, 'Ali Khan', 'IT', 20, 33333.33),
       (38556, 'John Khan', 'HR', 27, 27000.  ),
       (37343, 'Priya Khan', 'IT', 26, 43333.33),
       (87001, 'Michael Verma', 'Finance', 22, 25666.67),
       (36576, 'Priya Williams', 'Finance', 27, 31500.  ),
       (75608, 'Michael Williams', 'IT', 24, 40000.  ),
       (38741, 'Michael Williams', 'Finance', 27, 31500.  ),
       (96175, 'John Khan', 'Operations', 30, 25000.  ),
       (44726, 'Priya Williams', 'HR', 22, 22000.  ),
       (78393, 'John Williams', 'HR', 25, 25000.  ),
       (51371, 'Michael Verma', 'Marketing', 29, 27066.67),
       (98895, 'John Khan', 'Marketing', 30, 28000.  ),
       (67514, 'Ali Khan', 'Finance', 31, 36166.67),
       (32868, 'Sara Smith', 'Operations', 31, 25833.33),
       (72263, 'Ali Williams', 'Operations', 24, 20000.  ),
       (12845, 'Sara Singh', 'Operations', 29, 24166.67),
       (30181, 'John Smith', 'Marketing', 25, 23333.33),
       (54049, 'Sara Williams', 'Operations', 20, 16666.67),
       (17138, 'Ali Singh', 'Operations', 28, 23333.33),
       (17466, 'Sara Khan', 'Marketing', 21, 19600.  ),
       (13152, 'Priya Verma', 'HR', 27, 27000.  ),
       (37558, 'Priya Singh', 'Marketing', 22, 20533.33),
       (88206, 'Ali Verma', 'IT', 23, 38333.33),
       (25375, 'Sara Williams', 'Operations', 24, 20000.  ),
       (83725, 'Priya Khan', 'Operations', 23, 19166.67),
       (92482, 'John Khan', 'Marketing', 21, 19600.  ),
       (49495, 'Ali Singh', 'Finance', 26, 30333.33),
       (33788, 'Priya Verma', 'Finance', 26, 30333.33),
       (96341, 'John Singh', 'Marketing', 21, 19600.  ),
       (70977, 'Sara Williams', 'HR', 26, 26000.  ),
       (87920, 'Michael Singh', 'Marketing', 29, 27066.67),
       (56620, 'Priya Smith', 'HR', 25, 25000.  ),
       (31833, 'John Verma', 'Operations', 21, 17500.  ),
       (47653, 'Sara Verma', 'IT', 26, 43333.33),
       (77779, 'Michael Williams', 'HR', 28, 28000.  ),
       (79620, 'Michael Smith', 'HR', 29, 29000.  ),
       (19498, 'Priya Williams', 'IT', 20, 33333.33),
       (86649, 'John Smith', 'Finance', 22, 25666.67),
       (43055, 'Michael Singh', 'Finance', 24, 28000.  ),
       (93753, 'Sara Khan', 'HR', 28, 28000.  ),
       (66494, 'Ali Verma', 'IT', 20, 33333.33),
       (14397, 'Priya Singh', 'Finance', 26, 30333.33),
       (18650, 'Sara Khan', 'HR', 30, 30000.  ),
       (26575, 'Michael Smith', 'HR', 26, 26000.  ),
       (77040, 'Priya Khan', 'Marketing', 31, 28933.33),
       (67150, 'Michael Williams', 'HR', 24, 24000.  ),
       (40844, 'Sara Verma', 'Marketing', 24, 22400.  ),
       (23637, 'Ali Smith', 'IT', 23, 38333.33),
       (39127, 'Sara Williams', 'Marketing', 27, 25200.  ),
       (94303, 'Ali Williams', 'Marketing', 23, 21466.67),
       (87928, 'Sara Khan', 'Marketing', 30, 28000.  ),
       (35073, 'Michael Williams', 'IT', 24, 40000.  ),
       (99674, 'Ali Williams', 'IT', 23, 38333.33),
       (98010, 'Sara Khan', 'IT', 30, 50000.  ),
       (21976, 'Ali Khan', 'HR', 21, 21000.  ),
       (41588, 'Ali Verma', 'Marketing', 26, 24266.67),
       (56351, 'Sara Williams', 'IT', 24, 40000.  ),
       (89775, 'Sara Singh', 'IT', 31, 51666.67),
       (20307, 'Sara Singh', 'Finance', 22, 25666.67),
       (64282, 'Sara Williams', 'Finance', 25, 29166.67),
       (27479, 'Ali Williams', 'Finance', 25, 29166.67),
       (66807, 'Sara Williams', 'Marketing', 23, 21466.67),
       (74011, 'Michael Singh', 'Operations', 29, 24166.67),
       (59962, 'Ali Khan', 'Marketing', 25, 23333.33),
       (66735, 'Michael Smith', 'Operations', 31, 25833.33),
       (41699, 'Sara Smith', 'Marketing', 25, 23333.33),
       (29431, 'Michael Singh', 'HR', 30, 30000.  ),
       (97730, 'Ali Singh', 'IT', 25, 41666.67),
       (85765, 'Michael Williams', 'Operations', 24, 20000.  ),
       (58069, 'Ali Williams', 'HR', 23, 23000.  ),
       (82118, 'Sara Verma', 'HR', 26, 26000.  ),
       (69380, 'John Khan', 'HR', 23, 23000.  ),
       (92348, 'Sara Smith', 'IT', 29, 48333.33),
       (10595, 'Ali Khan', 'IT', 25, 41666.67),
       (54118, 'Sara Smith', 'HR', 24, 24000.  ),
       (65719, 'Ali Smith', 'Finance', 31, 36166.67),
       (93174, 'Michael Williams', 'Finance', 31, 36166.67),
       (88195, 'Sara Khan', 'Marketing', 26, 24266.67),
       (78658, 'Sara Singh', 'Operations', 24, 20000.  ),
       (63845, 'Priya Smith', 'Marketing', 23, 21466.67),
       (73885, 'Ali Smith', 'Operations', 25, 20833.33),
       (32929, 'Sara Khan', 'Marketing', 22, 20533.33),
       (20464, 'John Williams', 'Marketing', 23, 21466.67),
       (17897, 'Ali Singh', 'HR', 27, 27000.  ),
       (64813, 'John Singh', 'Operations', 22, 18333.33),
       (78764, 'John Khan', 'Finance', 23, 26833.33),
       (52296, 'Michael Williams', 'IT', 30, 50000.  ),
       (68191, 'Ali Smith', 'Finance', 28, 32666.67),
       (69933, 'Sara Williams', 'Operations', 22, 18333.33),
       (52440, 'Ali Verma', 'IT', 26, 43333.33)],
      dtype=[('ID', '<i4'), ('Name', '<U50'), ('Department', '<U20'), ('Days Worked', '<i4'), ('Salary', '<f4')])

In [8]:
#from dataframe to numpy
x['ID']=id
x['Name']=n
x['Department']=dpt
x['Day']=d
x['Salary']=sal
x=pd.DataFrame(x)

In [13]:
x

       ID           Name Department  Day    Salary
0   11449  Michael Verma         HR   28  28000.00
1   27769      Ali Singh         IT   28  46666.67
2   44400  John Williams  Marketing   31  28933.33
3   62423    Priya Singh  Marketing   27  25200.00
4   59039    Priya Singh         IT   20  33333.33
..    ...            ...        ...  ...       ...
95  42581      Ali Smith         HR   29  29000.00
96  18984     Priya Khan  Marketing   24  22400.00
97  51244   Michael Khan         IT   28  46666.67
98  37818   Ali Williams         HR   23  23000.00
99  90001   Michael Khan  Marketing   29  27066.67

[100 rows x 5 columns]

In [15]:
z=x.to_numpy()
z

array([[11449, 'Michael Verma', 'HR', 28, 28000.0],
       [27769, 'Ali Singh', 'IT', 28, 46666.67],
       [44400, 'John Williams', 'Marketing', 31, 28933.33],
       [62423, 'Priya Singh', 'Marketing', 27, 25200.0],
       [59039, 'Priya Singh', 'IT', 20, 33333.33],
       [77854, 'Ali Smith', 'Operations', 25, 20833.33],
       [21951, 'Michael Singh', 'Marketing', 27, 25200.0],
       [11005, 'John Singh', 'Finance', 28, 32666.67],
       [88036, 'John Singh', 'IT', 25, 41666.67],
       [37823, 'Michael Verma', 'Marketing', 25, 23333.33],
       [99241, 'Sara Singh', 'HR', 24, 24000.0],
       [81464, 'John Williams', 'Marketing', 30, 28000.0],
       [38322, 'Michael Khan', 'IT', 30, 50000.0],
       [81018, 'Michael Smith', 'IT', 30, 50000.0],
       [41383, 'Michael Khan', 'Finance', 22, 25666.67],
       [16380, 'Michael Khan', 'Marketing', 25, 23333.33],
       [27019, 'Ali Singh', 'HR', 23, 23000.0],
       [56455, 'Sara Singh', 'IT', 21, 35000.0],
       [93423, 'Sara Verma', 'Marketing', 25, 23333.33],
       [36400, 'Priya Verma', 'Marketing', 22, 20533.33],
       [83445, 'Priya Khan', 'HR', 27, 27000.0],
       [13180, 'John Khan', 'Marketing', 28, 26133.33],
       [91325, 'Ali Verma', 'Finance', 29, 33833.33],
       [28204, 'Ali Khan', 'Operations', 27, 22500.0],
       [33683, 'John Singh', 'IT', 21, 35000.0],
       [50738, 'Ali Khan', 'Operations', 20, 16666.67],
       [71409, 'Priya Williams', 'Operations', 20, 16666.67],
       [99510, 'Michael Williams', 'Operations', 25, 20833.33],
       [61141, 'Michael Verma', 'HR', 20, 20000.0],
       [34821, 'Priya Verma', 'Finance', 25, 29166.67],
       [87961, 'John Khan', 'IT', 25, 41666.67],
       [66762, 'John Singh', 'Marketing', 25, 23333.33],
       [60189, 'Ali Verma', 'IT', 25, 41666.67],
       [29370, 'Michael Williams', 'IT', 23, 38333.33],
       [84058, 'John Khan', 'IT', 24, 40000.0],
       [86619, 'Sara Khan', 'Finance', 30, 35000.0],
       [71762, 'Ali Khan', 'Operations', 22, 18333.33],
       [20045, 'John Smith', 'Marketing', 21, 19600.0],
       [40293, 'Michael Singh', 'Finance', 20, 23333.33],
       [14148, 'Michael Verma', 'IT', 31, 51666.67],
       [29108, 'Sara Singh', 'Finance', 26, 30333.33],
       [97027, 'Ali Williams', 'IT', 27, 45000.0],
       [98002, 'Michael Khan', 'HR', 29, 29000.0],
       [26589, 'Priya Williams', 'Operations', 24, 20000.0],
       [34334, 'Michael Khan', 'HR', 31, 31000.0],
       [27515, 'Sara Khan', 'Marketing', 27, 25200.0],
       [30491, 'Sara Verma', 'Operations', 29, 24166.67],
       [25333, 'Sara Verma', 'Marketing', 23, 21466.67],
       [94332, 'Michael Verma', 'Marketing', 30, 28000.0],
       [47883, 'Michael Verma', 'Operations', 29, 24166.67],
       [51325, 'John Williams', 'Marketing', 22, 20533.33],
       [49763, 'Ali Williams', 'Marketing', 24, 22400.0],
       [10056, 'John Khan', 'Operations', 21, 17500.0],
       [57586, 'John Verma', 'Operations', 28, 23333.33],
       [44898, 'Michael Verma', 'Marketing', 26, 24266.67],
       [93410, 'Michael Verma', 'IT', 27, 45000.0],
       [77801, 'John Verma', 'Operations', 22, 18333.33],
       [29136, 'John Verma', 'Finance', 27, 31500.0],
       [44107, 'Sara Verma', 'Operations', 27, 22500.0],
       [55675, 'Ali Khan', 'Operations', 26, 21666.67],
       [48871, 'Priya Singh', 'Operations', 29, 24166.67],
       [20787, 'Sara Williams', 'Finance', 30, 35000.0],
       [89862, 'Michael Singh', 'Operations', 25, 20833.33],
       [53160, 'Ali Singh', 'Operations', 22, 18333.33],
       [52374, 'Sara Singh', 'Finance', 20, 23333.33],
       [69519, 'Sara Khan', 'Marketing', 31, 28933.33],
       [66940, 'Priya Smith', 'IT', 27, 45000.0],
       [21024, 'Priya Khan', 'HR', 26, 26000.0],
       [54925, 'Sara Smith', 'Marketing', 25, 23333.33],
       [66354, 'John Verma', 'Finance', 25, 29166.67],
       [56239, 'Sara Verma', 'HR', 31, 31000.0],
       [45964, 'Priya Khan', 'Marketing', 29, 27066.67],
       [59762, 'Michael Williams', 'HR', 31, 31000.0],
       [19495, 'Ali Williams', 'Operations', 31, 25833.33],
       [60665, 'John Smith', 'IT', 23, 38333.33],
       [46116, 'Michael Smith', 'Finance', 31, 36166.67],
       [88636, 'Sara Williams', 'HR', 27, 27000.0],
       [95433, 'Priya Verma', 'IT', 31, 51666.67],
       [64299, 'Michael Khan', 'HR', 25, 25000.0],
       [19916, 'Michael Smith', 'IT', 29, 48333.33],
       [43208, 'Sara Singh', 'Finance', 20, 23333.33],
       [35679, 'Ali Williams', 'Finance', 27, 31500.0],
       [16743, 'Priya Singh', 'Finance', 30, 35000.0],
       [73510, 'Sara Williams', 'HR', 22, 22000.0],
       [58471, 'Michael Singh', 'IT', 27, 45000.0],
       [82200, 'Priya Williams', 'HR', 27, 27000.0],
       [19088, 'Sara Williams', 'Operations', 27, 22500.0],
       [27854, 'Ali Smith', 'IT', 20, 33333.33],
       [90435, 'Priya Singh', 'IT', 29, 48333.33],
       [81539, 'Sara Williams', 'Finance', 26, 30333.33],
       [86338, 'John Williams', 'HR', 31, 31000.0],
       [48852, 'John Khan', 'Operations', 20, 16666.67],
       [72802, 'Sara Williams', 'HR', 26, 26000.0],
       [46376, 'Michael Singh', 'Finance', 29, 33833.33],
       [51364, 'Ali Smith', 'Finance', 28, 32666.67],
       [42581, 'Ali Smith', 'HR', 29, 29000.0],
       [18984, 'Priya Khan', 'Marketing', 24, 22400.0],
       [51244, 'Michael Khan', 'IT', 28, 46666.67],
       [37818, 'Ali Williams', 'HR', 23, 23000.0],
       [90001, 'Michael Khan', 'Marketing', 29, 27066.67]], dtype=object)

In [25]:
#sum of salary
z[:,-1].sum()

2936933.31

In [29]:
#unique customers
#print(np.unique(z[:,0]))
np.unique(z[:,1])

array(['Ali Khan', 'Ali Singh', 'Ali Smith', 'Ali Verma', 'Ali Williams',
       'John Khan', 'John Singh', 'John Smith', 'John Verma',
       'John Williams', 'Michael Khan', 'Michael Singh', 'Michael Smith',
       'Michael Verma', 'Michael Williams', 'Priya Khan', 'Priya Singh',
       'Priya Smith', 'Priya Verma', 'Priya Williams', 'Sara Khan',
       'Sara Singh', 'Sara Smith', 'Sara Verma', 'Sara Williams'],
      dtype=object)

In [18]:
#departmentwise salary with pandas
x.groupby('Department')['Salary'].sum()

Department
Finance       551833.33
HR            480000.00
IT            951666.67
Marketing     537599.98
Operations    415833.33
Name: Salary, dtype: float64

In [11]:
x.groupby('Department')['Salary'].mean()

Department
Finance       30657.407222
HR            26666.666667
IT            43257.575909
Marketing     24436.362727
Operations    20791.666500
Name: Salary, dtype: float64